# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

*.pdb
*.tlog
*.ilk
*.log
*.sdf
mini3d/images/donation.png
mini3d/images/mini_0.png
mini3d/images/mini_1.png
mini3d/images/mini_2.png
mini3d/images/mini_3.png
mini3d/images/mini_4.png
*.idb
DumbRay.sdf
mini3d/Mini3D.opensdf
.vs/DumbRay/v14/.suo
*.tga
